name: Get Surge Token
on: [workflow_dispatch]
jobs:
  token:
    runs-on: ubuntu-latest
    steps:
      - name: Force Token via Environment
        env:
          SURGE_LOGIN: ownrhome@gmail.com
          SURGE_TOKEN: Qweasdzxc123!
        run: |
          npm install -g surge
          # Kita panggil perintah token tanpa argumen, 
          # Surge akan otomatis mengambil dari variabel env di atas
          surge token
