name: Get Surge Token
on: [workflow_dispatch]
jobs:
  token:
    runs-on: ubuntu-latest
    steps:
      - name: Force Token with Input
        run: |
          npm install -g surge
          # Kode sakti untuk menyuapi terminal:
          printf "ownrhome@gmail.com\nQweasdzxc123!" | surge token
