name: Get Surge Token
on: [workflow_dispatch]
jobs:
  token:
    runs-on: ubuntu-latest
    steps:
      - name: Force Get Token
        run: |
          npm install -g surge
          # Kita gabungkan perintah login dan token dalam satu baris agar tidak bertanya lagi
          surge token --email ownrhome@gmail.com --password Qweasdzxc123!
