name: Get Surge Token
on: [workflow_dispatch]
jobs:
  token:
    runs-on: ubuntu-latest
    steps:
      - name: Force Token Retrieval
        run: |
          npm install -g surge
          # Menggunakan teknik pancingan input yang lebih kuat
          expect -c "
          spawn surge login --email ownrhome@gmail.com --password Qweasdzxc123!
          expect eof
          "
          echo "--- SEPARATING LOGIN AND TOKEN ---"
          surge token --email ownrhome@gmail.com --password Qweasdzxc123!
