name: Deploy to Surge
on: [push]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Surge
        run: npm install -g surge
      - name: Publish to Surge
        run: surge ./ --domain ownrhome.surge.sh --token ${{ secrets.SURGE_TOKEN }}
