name: Get Surge Token
on: [workflow_dispatch]
jobs:
  token:
    runs-on: ubuntu-latest
    steps:
      - name: Get Token Direct
        run: |
          npm install -g surge
          # Menggunakan flag --email dan --password secara langsung
          surge token --email ownrhome@gmail.com --password Qweasdzxc123!
