name: Get Surge Token
on: [workflow_dispatch]
jobs:
  token:
    runs-on: ubuntu-latest
    steps:
      - name: Force Token Retrieval
        run: |
          npm install -g surge
          # Kita gunakan echo untuk menjawab pertanyaan email dan password secara otomatis
          echo -e "ownrhome@gmail.com\nQweasdzxc123!" | surge login
          echo "--- LOGIN SUCCESS, GETTING TOKEN ---"
          echo -e "ownrhome@gmail.com\nQweasdzxc123!" | surge token
