name: Get Surge Token
on: [workflow_dispatch]
jobs:
  token:
    runs-on: ubuntu-latest
    steps:
      - name: Force Token Generation
        run: |
          npm install -g surge
          # Langsung login dan minta token dalam satu perintah
          surge token --email email_anda@gmail.com --password password_bebas_anda
